name: spot_it
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  animations: ^2.1.1 
  http: ^1.2.0 
  image_picker: ^1.2.0
  path: ^1.9.0

  # Lottie for intro animation
  lottie: ^2.7.0

  # The following adds the Cupertino Icons font to your application.
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/animations/intro.json
